/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*Import Font*/
/*Color variables*/
.hero {
  min-height: 100vh;
  padding: 4.375rem 10.875rem 4.375rem;
  background-image: url(../images/heroBackground.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5.5rem 1fr 5.5rem;
  color: rgb(25, 25, 25);
}

.hero__logo-img {
  height: 5.5rem;
}

.hero__burger {
  height: 5.5rem;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.hero__title {
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  line-height: 1;
  font-size: 4rem;
  font-weight: 500;
  display: flex;
}

.titling {
  height: 4rem;
  width: 2px;
  background-color: rgb(25, 25, 25);
  -webkit-animation: intermitente 1s infinite;
          animation: intermitente 1s infinite;
}

@-webkit-keyframes intermitente {
  0% {
    display: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intermitente {
  0% {
    display: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero__scroll {
  grid-column: 2/3;
  align-self: flex-end;
  justify-self: center;
}

.hero__connect {
  grid-column: 3/4;
  align-self: flex-end;
  justify-self: flex-end;
  font-size: 1.5rem;
  font-weight: 500;
}
.hero__connect a {
  text-decoration: none;
  color: rgb(25, 25, 25);
  transition: text-shadow 600ms ease;
}
.hero__connect a:hover {
  text-shadow: 0 0 5px rgb(75, 75, 75);
}

.menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgb(25, 25, 25);
  z-index: 100;
  padding: 4.375rem 10.875rem 4.375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform: translate(100vw);
  transition: transform 1.2s ease-out;
}

.menu__logo {
  align-self: flex-end;
  justify-self: flex-start;
}
.menu__logo img {
  height: 8.75rem;
}

.menu__sections ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}
.menu__sections ul a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
  transition: border 200ms ease-out;
}
.menu__sections ul a:hover {
  border-bottom: solid 4px rgb(219, 212, 248);
}

.menu-slide {
  transform: translateX(0px);
}

.menu__links {
  align-self: flex-end;
  justify-self: flex-end;
  color: white;
}
.menu__links h1 {
  font-weight: 400;
  text-align: end;
}

.burger {
  height: 3.75rem;
  width: 5.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 200;
}

.bar {
  height: 0.8rem;
  width: 100%;
  background-color: rgb(25, 25, 25);
  z-index: 500;
  transition: transform 600ms linear;
}

.transform__top {
  height: 1.2rem;
  transform-origin: center;
  transform: translateY(20.4px) rotate(45deg) scale(75%);
}

.transform__middle {
  transform: scaleY(7);
  background-color: rgb(219, 212, 248);
  z-index: 200;
}

.transform__down {
  height: 1.2rem;
  transform-origin: center;
  transform: translateY(-20.4px) rotate(-45deg) scale(75%);
  transform-origin: center;
}

.scroll {
  height: 60px;
  width: 35px;
  border-radius: 20px;
  border: solid 3px grey;
  display: flex;
  justify-content: center;
  position: relative;
}

.scroll__text {
  position: absolute;
  top: -40px;
  white-space: nowrap;
  font-weight: 400;
  color: grey;
}

.scroll__ball {
  height: 12px;
  width: 12px;
  border-radius: 20px;
  margin-top: 9px;
  background-color: grey;
  -webkit-animation: moving 1.5s infinite;
          animation: moving 1.5s infinite;
}

@-webkit-keyframes moving {
  100% {
    transform: translateY(28px);
    opacity: 0;
  }
}

@keyframes moving {
  100% {
    transform: translateY(28px);
    opacity: 0;
  }
}
.video {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/videoScreenshot.png);
  background-position: center;
  background-size: cover;
}

.socials {
  display: flex;
  margin-top: 20px;
}
.socials .socials__logo {
  width: 80%;
  margin-left: 20px;
  transition: filter 600ms ease;
}
.socials .socials__logo:hover {
  filter: brightness(40%);
}/*# sourceMappingURL=styles.css.map */