.burger{
    height: 3.75rem;
    width: 5.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 200;
}
.bar{
    height: 0.8rem;
    width: 100%;
    background-color: $font-color;
    z-index: 500;
    transition: transform 600ms linear;
}
.transform__top{
    height: 1.2rem;
    transform-origin: center;
    transform: translateY(20.4px) rotate(45deg) scale(75%);
}
.transform__middle{
    transform: scaleY(7) ;
    background-color: $base-violet;
    z-index: 200;
}
.transform__down{
    height: 1.2rem;
    transform-origin: center;
    transform:  translateY(-20.4px) rotate(-45deg) scale(75%);
    transform-origin: center;
}
