/*Import Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Color variables*/
$font-color:rgba(25,25,25,);
$base-yellow: rgb(249, 243, 201);
$base-pink: rgb(251, 229, 226);
$base-green: rgb(202, 251, 230);
$base-violet: rgb(219, 212, 248);
